body {

    width: 100vw;
    height: 100vh;
    margin: 0;

    background-image: url("../assets/img/background2.png");
    /* background-size: 200%; */
    background-position: 0%;
    background-repeat: no-repeat;
    background-color: black;

    font-family: "Calibri";
    color: white;

}

a {

    text-decoration: none;

}

h1 {

    font-size: 5rem;

    letter-spacing: 0.5rem;

}

#root {

    position: relative;

}

main {

    height: auto;
    width: 100%;

}