/* header {

    width: 100vw;
    height: 15vh;

    position: relative
} */

header {

    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: center;

    background-color: rgba(24, 0, 56, 0);

}

header img {

    width: auto;
    height: 3vh;
    width: auto;

}

#sticky-nav {

    width: 100vw;
    height: 7vh;

    background-color: rgba(0, 0, 0, 0.445);

    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    transition: background-color 0.5s, height 0.5s;

}

#sticky-nav:hover {

    background-color: rgba(12, 0, 41, 1);
    height: 12vh;

}

header span {

    width: 25%;
    display: flex;
    align-items: center;

}

#logo {

    justify-content: flex-start;
    /* background-color: green; */

}

#urls {

    justify-content: flex-end;
    /* background-color: yellow; */

}

#urls div {

    margin: 0.5rem;

}

#LILogo {

    filter: grayscale(100%);
    transition: filter 0.4s;

}

#LILogo:hover {

    filter: grayscale(0%)
}