nav {

    min-width: 50%;

    display: flex;
    justify-content: flex-end;

}

nav a {

    color: white;
    margin: 1rem;

    letter-spacing: 0.2rem;

    transition: font-size 0.5s;

}

nav a:hover {

    font-size: 2rem;
}

nav a.active {

    color: rgb(110, 0, 201);

}