#project-detail {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.8);

    color: white;


}

#project-detail img {

    width: 40vw;
    height: 40vh;

    object-fit: scale-down;
}