.project {

    background-color: orange;

    width: 25vw;
    height: 30vh;
    position: relative;

    overflow: hidden;

    border-radius: 1rem;

    margin: 2rem;

}

.project .overlay {

    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);

    color: white;

    transition: opacity 0.5s;

}

.project .overlay:hover {

    opacity: 1;

}

.project img {

    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: rgba(0, 0, 0, 0.8);

}